<!--displays profile info with click function-->
<div class="card" id="info-card">
    <span  class=profile-photo>
            <img ng-src="images/logo.png" />
    </span>
    <span class="profile-info">
            <li class="empname">{{data.employeeName}}</li>
            <li class="empstatus">{{data.employeeStatus}}</li>
            <li class="company">{{data.company}}</li>
            <li class="mobile">Mob.{{data.mobile}}</li>
            <li class="email">{{data.emailId}}</li>
    </span>
</div>