<div class="container dash">
    <div class="row">
        <!-- Card Projects -->
        <div class="col-md-4 ">
            <div class="card">
                <div class="header">
                    <h4 class="text">Attendance Summary
                     <span class="card-action"><a target="new_blank"><img class="toc1" src="images/summary.png"/></img></a></span></h4>
                </div>
            </div>
        </div>
        <div class="col-md-4 ">
            <div class="card">
                <div class="header">
                    <h4 class="text">Attendance Fallout
                     <span class="card-action"><a target="new_blank"><img class="toc1" src="images/summary.png"/></img></a></span></h4>
                </div>
            </div>
        </div>
        <div class="col-md-4 ">
            <div class="card">
                <div class="header">
                    <h4 class="text">Leave Summary
                     <span class="card-action"><a target="new_blank"><img class="toc1" src="images/summary.png"/></img></a></span></h4>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <!-- Card Projects -->
        <div class="col-md-4 ">
            <div class="card">
                 <div class="header">
                    <span class="card-action"><a  ui-sref=".Engineers">
                        <img class="toc" src="images/summary.png"/></img></a></span>
                        <h4 class="text1">Engineers</h4><span>
                 </div>
            </div>
        </div>
        <div class="col-md-4 ">
            <div class="card">
                <div class="header">
                   <span class="card-action"><a target="new_blank">
                        <img class="toc" src="images/summary.png"/></img></a></span>
                        <h4 class="text1">Clients</h4><span>
                 </div>
            </div>
        </div>
        <div class="col-md-4 ">
            <div class="card">
                <div class="header">
                    <span class="card-action"><a target="new_blank">
                        <img class="toc" src="images/summary.png"/></img></a></span>
                        <h4 class="text1">Reports</h4><span>
                 </div>
            </div>
        </div>
    </div>
</div>