<div id="eng">
    <div class="row">
        <div class="col-md-12">
            <div class="input-group" id="adv-search">
                <input type="text" class="form-control" placeholder="Search" />
                <div class="input-group-btn">
                    <div class="btn-group" role="group">
                        <div class="dropdown dropdown-lg">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false" id="search"><span class="caret"></span></button>
                            <div class="dropdown-menu dropdown-menu-right" role="menu">
                                <form class="form-horizontal" role="form">
                                    <div class="form-group">
                                        <label for="filter">Filter by</label>
                                        <select class="form-control">
                                        <option value="0" selected>All Snippets</option>
                                        <option value="1">Featured</option>
                                        <option value="2">Most popular</option>
                                        <option value="3">Top rated</option>
                                        <option value="4">Most commented</option>
                                    </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="contain">Author</label>
                                        <input class="form-control" type="text" />
                                    </div>
                                    <div class="form-group">
                                        <label for="contain">Contains the words</label>
                                        <input class="form-control" type="text" />
                                    </div>
                                    <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                                </form>
                            </div>
                        </div>
                        <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="display">
     <div class="anchor">
        <!--<ul class="alphabets">
        <li ng-repeat="(k,v) in profile" ><a class="active">{{k}}</a></li>
    </ul>-->
        <ul class="alphabets" ng-repeat="x in alphabet">
            <li><a ng-click="scrollTo(x)" class="{{x}}" >{{x}}</a></li>
        </ul>
    </div>
    <div class="profile">
        <section ng-repeat="(k,v) in profile" id="{{k}}">
            <!--class="col-lg-3 col-sm-6 col-md-4 col-xs-12 " -->
            <div ng-repeat="(key,info) in v" id="card-col">
            <card-info data="info" ></card-info>
            </div>
        </section>
    </div>
   
</div>